html,
body,
#root {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

.centering {
  margin: auto;
}
.root-container {
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.box-controller {
  visibility: visible;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 24em;
  min-width: 21em;
  height: 35px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  margin-bottom: 30px;
  align-items: center;
  transition: visibility 0.5s ease-out;
}

.controller {
  flex: 1;
  text-align: center;
  height: 100%;
  line-height: 2;
  cursor: pointer;
}

.selected-controller {
  transition: border 0.5s ease-out;
  border-bottom: 2px solid blue;
}

.box-container {
  display: flex;
  flex-direction: column;
  max-width: 24em;
  min-width: 21em;
  box-shadow: 0px 0px 20px 0px rgba(15, 15, 15, 0.2);
  border-radius: 6px;
  padding: 24px;
}

.inner-container {
  transition: visibility 0.2s ease-out;
}

.inner-container.show {
  visibility: visible;
}

.header {
  text-align: center;
  padding: 5px;
  margin-bottom: 17px;
  font-family: Ozxgen, sans-serif;
  font-size: 22px;
  border-bottom: 2px solid blue;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input-group {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  margin-bottom: 5px;
}

/*Label*/

.login-label {
  font-family: Oxygen, sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding-left: 5px;
}

/*Input*/
.login-input {
  height: 2.1em;
  border-radius: 3px;
  border: 1px solid blue;
  transition: border 0.4s ease-out;
  padding: 13px;
  font-family: Oxygen, sans-serif;
  font-size: 19px;
  color: #3e3e42;
  background: rgba(15, 15, 15, 0.01);
}

.login-input:hover {
  border: 2px solid blue;
}

.login-input:focus {
  border: 2px solid #6565e7;
  box-shadow: 0px 0px 20px rgba(15, 15, 15, 0.2);
}

.login-input::placeholder {
  font-family: Oxygen, sans-serif;
  font-size: 16px;
  color: rgba(15, 15, 15, 0.4);
}

.login-btn {
  padding: 2px 30px;
  border: 0;
  font-size: 18px;
  border-radius: 3px;
  font-family: Oxygen, sans-serif;
  background-color: rgba(15, 15, 15, 0.03);
  margin-top: 20px;
  border: 2px solid #417cef;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.login-btn:hover,
.login-btn:focus {
  background-color: #417cef;
  color: white;
}

.danger-error {
  color: #e74c3c;
  font-size: 16px;
}

/*Password*/
.password-state {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.pwd {
  height: 6px;
  flex: 1;
  visibility: hidden;
}

.pwd-weak {
  background-color: #e74c3c;
}

.pwd-medium {
  background-color: #3498db;
}

.pwd-strong {
  background-color: #2ecc71;
}

.show {
  visibility: visible;
}

/*avatar*/

.avatar-grid {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 2rem;
  width: 100%;
  margin: 0 auto;
}
@media (max-width: 30.625) {
  .avatar-grid {
    grid-template-columns: 1fr;
  }
}
.avatar-image {
  width: 100%;
  object-fit: cover;
}

.user {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.user:hover {
  color: white;
  text-decoration: none;
}

.navbar {
  padding: 0.1rem 1rem !important;
  background-color: rgba(252,0,66,0.9);
  color: white !important;
  height:80px;
}
.navbar-brand {
  padding-left: 15px;
}
.navbar-toggler {
  border: none!important;
  outline: 0;
}
.navbar-toggler:active,
.navbar-toggler:focus {
  outline:0;
}

@media (max-width: 768px) {
  .navbar {
    background-color: transparent;
    padding: 0.1rem 0rem !important;
    z-index:5;
    box-shadow: 5px 5px 5px #000;
  }
  .navbar-brand {
    margin-left: 20px;
  }
  .navbar-toggler {
    margin-right: 20px !important;
  }
}

.nav-avatar {
  width: 5vh;
}

.nav-item a {
  color: white !important;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0 5px;
}

.nav-item a:hover {
  text-decoration: none;
}
@media(max-width: 768px) {
  .navbar-collapse {
    background-color: rgb(252,0,66,0.9);
    margin-top:15px;
  }
}

/* rules */

.component-heading {
  letter-spacing: 0.35ch;
  font-weight: bolder;
  margin-bottom: 20px;
}

.rules,
.leaderboard,
.dashboard,
.forum {
  min-height: 100vh;
  display: flex;
  color: #fff !important;
  flex-direction: column;
  /* background-color: #141426; */
  background-image: url(https://gs-post-images.grdp.co/2019/10/artboard-1-img1570818243116-71.png-rs-high-webp.png);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;


}

.rules-container {
  height: 72vh;
  width: 80vw;
  margin: auto;
  overflow-y: auto;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 5px;
  color: #fff;
  font-size: 1.4rem;
}

/* width */
.rules-container::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.rules-container::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
.rules-container::-webkit-scrollbar-thumb {
  background: #e5023e;
}

.list-container li {
  padding: 7.5px 20px;
}
@media(max-width: 768px) {
  .list-container li {
    padding: 7.5px 5px;
  }
  .rules-container {
    font-size: 1.1rem;
  }
}

/* leaderboard */
.avatar {
  width: 8vh;
}

.userlist {
  width: 60%;
  margin: auto;
  padding: 25px;
}

.avatar-column {
  width: 20%;
}

.user-column {
  width: 65%;
}

.score-column {
  width: 15%;
}

.table td,
.table th {
  vertical-align: middle !important;
}

tbody {
  display: block;
  height: 54vh;
  overflow-y: scroll;
  font-size: 20px;
  font-weight: bold;
  color: #fff;
}

thead,
tbody tr {
  display: table;
  width: 100%;
  table-layout: fixed;
}

.dashboard-content {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.question {
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255,255,255,0.2);
  border: none;
  padding: 25px;
  border-radius: 8px;
  margin: 8px 0;
  color: #fff;
}

.answer-block {
  font-size: 1rem;
  font-weight: bold;
  background: rgba(255,255,255, 0.2);
  border: none;
  padding: 15px;
  padding-left: 25px;
  border-radius: 8px;
  margin: 8px 0;
  color: #fff;
}

@media (max-width: 768px) {
  .question {
    padding: 12px 18px;
  }
  
  .answer-block {
    padding: 12px 18px;
  }
  
}














.answer-block::placeholder {
  color:rgba(255, 255,255, 0.6);
}

.answer-block:focus {
  outline: none;
}

.question {
  width: 640px;
}

.answer-block {
  width: 470px;
  margin-right: 10px;
}

.answer-button {
  font-size: 1.6rem;
  font-weight: bold;
  padding: 8px 18px;
  color: #fff;
}

.badge-grid {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
}

.badge-grid > div {
  padding: 16px;
}

.badge-grid p {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 14px;
}

.badge-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid blue;

  cursor: pointer;
}

/* footer */
.page-footer {
  width: 100%;
  padding: 14px;
  font-size: 20px;
  letter-spacing: 0.1ch;
}
.bottom-fixed {
  position: fixed;
  bottom: 0px;
}

.page-footer .text-light:hover {
  color: white !important;
  text-decoration: none;
}

@media only screen and (max-width: 800px) {
  .rules,
  .leaderboard,
  .dashboard,
  .forum {
    height: auto;
    display: flex;
    color: #fff !important;
    justify-content: space-between;
    flex-direction: column;
    background-color: #141426;
  }

  .userlist {
    width: 100%;
    padding: 8px;
  }

  .rules-container {
    width: 90vw;
    border-radius: 2px;
    padding: 10px;
  }

  .score-column {
    width: 17%;
  }

  .page-footer {
    position: block !important;
  }

  .navbar li {
    padding: 3px 0;
  }

  .dashboard-content {
    flex-direction: column;
  }

  .question-container {
    margin: 25px auto;
    width: 90%;
  }

  .question {
    width: 100%;
    margin: 10px auto;
    text-align: left;
  }
  .btn-time {
    background-color: #e5023e !important;
    color: #fff;
    margin: 10px auto;
  }

  .question-container input {
    width: 100% !important;
    margin: 10px auto;
  }
  @media(max-width: 768px) {
    .question-container input {
      margin: 10px 0px 20px 0px;
    }
  }

  .badge-grid > div {
    padding: 10px;
  }
}

.check-btn {
  display: inline-block;
  font-size: 1.3rem !important;
  width: 152px;
  margin-left: 8px;
}

.btn-time {
  background-color: #e5023e !important;
  color: #fff;
  font-weight: bold;
  display: inline-block;
  font-size: 1.3rem!important;
  width: 152px;
  margin-left: 8px;
  border-radius: 5px;
}

.btn-primary {
  background-color: #2699fb;
}

@media (max-width: 768px) {
  .check-btn {
    width: 100%;
    display: block;
    margin-left: 0px;
  }

  .btn-time {
    width: 100%;
    display: block;
    margin-left: 0px;
  }
}

.active {
  border-bottom: 5px solid white;
}
.no-border {
  border: none !important;
}

.ques-head {
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 15px;
}

@media (max-width: 768px) {
  .ques-head {
    font-size: 1rem;
    padding-bottom: 0px;
  }
}

.web {
  position: absolute;
  right: -20px;
  top: 80px;
  width: 200px;
  height: 200px;
}
@media (max-width: 768px) {
  .web {
    width: 150px;
    height: 150px;
    right: -30px;
    overflow: hidden !important;
  }
}

#spidy {
  animation-name: swing;
  animation-duration: 1.5s;
  animation-delay: 2s;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes swing {
  from {
    height: 35px;
  }
  to {
    height: 85px;
  }
}

[type=radio] { 
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {

  cursor: pointer;
  width: 50%;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
  outline: 2px solid #f00;
}